## Student: David Anim-Addo
## Course: Fundamentals of Scalable Data Science
## Date: 2-22-20

# Assignment 3

Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures. 

## You only have to pass 4 out of 7 functions

Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. But we discurage using RDD at this point in time.

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. Everything can be implemented using SQL only if you like.

In [1]:
def minTemperature(x):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    mintemp = x.min()
    return mintemp

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200224013424-0000
KERNEL_ID = a3da45ed-cdcb-46c2-aac7-e54be11ff369

Please now do the same for the mean of the temperature

In [2]:
def meanTemperature(x):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    sum = x.sum()
    n = x.count()
    meantemp = sum/float(n)  
    return meantemp

Please now do the same for the maximum of the temperature

In [3]:
def maxTemperature(x):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    maxtemp = x.max()
    return maxtemp

Please now do the same for the standard deviation of the temperature

In [4]:
def sdTemperature(x):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    #https://spark.apache.org/docs/2.3.0/api/sql/
    from math import sqrt
    #Find the mean
    sum = x.sum()
    n = x.count()
    mean = sum/float(n)    
    #Find the standard deviation
    sdtemp = sqrt(x.map(lambda a: pow(a-mean,2)).sum()/n)    
    return sdtemp

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four positions in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [5]:
def skewTemperature(x):    
    #Find the mean
    sum = x.sum()
    n = x.count()
    mean = sum/float(n)
    #Find the standard deviation
    from math import sqrt
    sd = sqrt(x.map(lambda a: pow(a-mean,2)).sum()/n)
    #Find the skew
    skewtemp = (1/n)*x.map(lambda a: pow(a-mean,3)/pow(sd,3)).sum()
    return skewtemp

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [6]:
def kurtosisTemperature(x):    
    #Find the mean
    sum = x.sum()
    n = x.count()
    mean = sum/float(n)
    #Find the standard deviation
    from math import sqrt
    sd = sqrt(x.map(lambda a: pow(a-mean,2)).sum()/n)
    #Find the kurtosis
    kurtemp = (1/n)*x.map(lambda a: pow(a-mean,4)/pow(sd,4)).sum()
    return kurtemp

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [28]:
def correlationTemperatureHardness(x,y):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    #https://spark.apache.org/docs/2.3.0/api/sql/
    #Find the means
    meanX = x.sum()/float(x.count())
    meanY = y.sum()/float(y.count())
    #Find the covariance
    covXY = x.cov(y)
    #Find the standard deviation    
    assert x.count() == y.count()
    n = float(x.count())    
    from math import sqrt
    sdX = sqrt(x.map(lambda x: pow(x-meanX,2)).sum()/n)
    sdY = sqrt(y.map(lambda y: pow(y-meanY,2)).sum()/n)
    #Find the correlation
    corrtemp = covXY/(sdX*sdY)    
    return corrtemp

Now it is time to grab a PARQUET file and create a dataframe out of it. Using SparkSQL you can handle it like a database.

In [8]:
!wget https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
!mv washing.parquet?raw=true washing.parquet

--2020-02-24 01:34:27--  https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/IBM/coursera/raw/master/coursera_ds/washing.parquet [following]
--2020-02-24 01:34:27--  https://github.com/IBM/coursera/raw/master/coursera_ds/washing.parquet
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/IBM/coursera/master/coursera_ds/washing.parquet [following]
--2020-02-24 01:34:27--  https://raw.githubusercontent.com/IBM/coursera/master/coursera_ds/washing.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112048 (109K) [application/octet-stream]
Saving to: 'washing.parquet?raw=true'

100%[======================================>] 112,048     --.-K/s   in 0.01s

2020-02-24 01:34:27 (8.53 MB/s) - 'washing.parquet?raw=true' saved [112048/112048]

In [10]:
import pandas as pd
df = pd.read_parquet('washing.parquet')
dftemp = df.temperature
dfhard = df.hardness
df.head()

/opt/ibm/conda/miniconda3.6/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

,_id,_rev,count,flowrate,fluidlevel,frequency,hardness,speed,temperature,ts,voltage
0,0d86485d0f88d1f9d60bd193a4306793,1-57940679fb8a713bc46a033b3c495cbe,4,11.0,acceptable,NaN,77.0,NaN,100.0,1547808723923,NaN
1,0d86485d0f88d1f9d60bd193a4306ee1,1-15ff3a0b304d789e16a71f4b3e540920,2,NaN,None,NaN,NaN,1046.0,NaN,1547808729917,NaN
2,0d86485d0f88d1f9d60bd193a4307322,1-97c2742b68c7b07c2091d817e839f693,4,NaN,None,71.0,NaN,NaN,NaN,1547808731918,236.0
3,0d86485d0f88d1f9d60bd193a43080fc,1-eefb903dbe4574667b7410be306cf741,19,11.0,acceptable,NaN,75.0,NaN,86.0,1547808738999,NaN
4,0d86485d0f88d1f9d60bd193a4308701,1-5f68b4c72813c25e12d91004ddb33b1b,7,NaN,None,75.0,NaN,NaN,NaN,1547808740927,235.0

Now let's test the functions you've implemented

In [11]:
min_temperature = minTemperature(dftemp)
print(min_temperature)

80.0

In [12]:
mean_temperature = meanTemperature(dftemp)
print(mean_temperature)

90.03800298062593

In [13]:
max_temperature = maxTemperature(dftemp)
print(max_temperature)

100.0

In [14]:
sd_temperature = sdTemperature(dftemp)
print(sd_temperature)

6.098487624200335

In [15]:
skew_temperature = skewTemperature(dftemp)
print(skew_temperature)

0.010410008042944355

In [16]:
kurtosis_temperature = kurtosisTemperature(dftemp)
print(kurtosis_temperature)

1.7760730694213125

In [29]:
correlation_temperature = correlationTemperatureHardness(dftemp, dfhard)
print(correlation_temperature)

0.01776730847238748

Congratulations, you are done, please submit this notebook to the grader. 
We have to install a little library in order to submit to coursera first.

Then, please provide your email address and obtain a submission token on the grader’s submission page in coursera, then execute the subsequent cells

### Note: We've changed the grader in this assignment and will do so for the others soon since it gives less errors
This means you can directly submit your solutions from this notebook

In [ ]:
# The code was removed by Watson Studio for sharing.

In [ ]:
# The code was removed by Watson Studio for sharing.

In [ ]:
# The code was removed by Watson Studio for sharing.