# Feature Engineering

### Student: David Anim-Addo

### Course: IBM Advanced Datascience Capstone

---

In [118]:
# import the required libraries for feature engineering
import pandas as pd
import numpy as np

## Load the data for feature engineering

In [119]:
# The code was removed by Watson Studio for sharing.

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [120]:
# The code was removed by Watson Studio for sharing.

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [121]:
# The code was removed by Watson Studio for sharing.

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [122]:
# The code was removed by Watson Studio for sharing.

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438116346,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377011281,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330578810,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272884327,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219922471,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [123]:
print(df_confirm_glb.shape, df_death_glb.shape, df_recover_glb.shape, df_pop_glb.shape)

(264, 87) (264, 87) (250, 87) (235, 11)

## Prepare the data for feature engineering

In [124]:
def dropcol(df: pd.DataFrame) -> pd.DataFrame:
    '''drops the selected columns from each dataframe'''
    df.drop(['Province/State','Lat','Long'], axis=1, inplace=True)
    return df

In [125]:
dropcol(df_confirm_glb).head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,Albania,0,0,0,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,Algeria,0,0,0,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,Andorra,0,0,0,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,Angola,0,0,0,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [126]:
dropcol(df_death_glb).head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,Albania,0,0,0,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,Algeria,0,0,0,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,Andorra,0,0,0,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [127]:
dropcol(df_recover_glb).head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,Albania,0,0,0,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,Algeria,0,0,0,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,Andorra,0,0,0,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [128]:
df_pop_glb = df_pop_glb.drop(['Yearly Change', 'Net Change', 'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate', 'World Share'], axis=1)
df_pop_glb.head()

,Country (or dependency),Population (2020),Density (P/Km²),Med. Age,Urban Pop %
0,China,1438116346,153,38,61 %
1,India,1377011281,464,28,35 %
2,United States,330578810,36,38,83 %
3,Indonesia,272884327,151,30,56 %
4,Pakistan,219922471,287,23,35 %

In [129]:
print(df_confirm_glb.shape, df_death_glb.shape, df_recover_glb.shape, df_pop_glb.shape)

(264, 84) (264, 84) (250, 84) (235, 5)

In [130]:
def groupsum(df: pd.DataFrame) -> pd.DataFrame:
    '''groups by each country/region and adds their rows'''
    df = pd.DataFrame(df.groupby(['Country/Region']).sum())
    df.reset_index(inplace=True)
    return df

In [131]:
df_confirm_glb = groupsum(df_confirm_glb)
df_confirm_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,Albania,0,0,0,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,Algeria,0,0,0,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,Andorra,0,0,0,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,Angola,0,0,0,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [132]:
df_death_glb = groupsum(df_death_glb)
df_death_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,Albania,0,0,0,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,Algeria,0,0,0,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,Andorra,0,0,0,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [133]:
df_recover_glb = groupsum(df_recover_glb)
df_recover_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,Albania,0,0,0,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,Algeria,0,0,0,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,Andorra,0,0,0,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [134]:
print(df_confirm_glb.shape, df_death_glb.shape, df_recover_glb.shape)

(185, 84) (185, 84) (185, 84)

In [135]:
# the country/region in each covid dataframe is checked against each country/region in the population dataframe and vice versa 
# to ensure only mutual countries/regions remain

df_confirm_glb = df_confirm_glb[df_confirm_glb['Country/Region'].isin(df_pop_glb['Country (or dependency)'])].reset_index(drop=True)

df_death_glb = df_death_glb[df_death_glb['Country/Region'].isin(df_pop_glb['Country (or dependency)'])].reset_index(drop=True)

df_recover_glb = df_recover_glb[df_recover_glb['Country/Region'].isin(df_pop_glb['Country (or dependency)'])].reset_index(drop=True)

df_pop_glb = df_pop_glb[df_pop_glb['Country (or dependency)'].isin(df_confirm_glb['Country/Region'])].reset_index(drop=True)

print(df_confirm_glb.shape, df_death_glb.shape, df_recover_glb.shape, df_pop_glb.shape)

(172, 84) (172, 84) (172, 84) (172, 5)

In [136]:
def sort_country(df: pd.DataFrame, name: str) -> pd.DataFrame:
    '''sorts the dataframe by country/region'''
    df = df.sort_values(by=f'{name}', ascending=True)
    df.reset_index(drop=True)
    return df

In [137]:
df_confirm_glb = sort_country(df_confirm_glb, 'Country/Region')
df_confirm_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,Albania,0,0,0,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,Algeria,0,0,0,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,Andorra,0,0,0,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,Angola,0,0,0,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [138]:
df_death_glb = sort_country(df_death_glb, 'Country/Region')
df_death_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,Albania,0,0,0,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,Algeria,0,0,0,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,Andorra,0,0,0,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [139]:
df_recover_glb = sort_country(df_recover_glb, 'Country/Region')
df_recover_glb.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,Albania,0,0,0,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,Algeria,0,0,0,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,Andorra,0,0,0,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [140]:
df_pop_glb = sort_country(df_pop_glb, 'Country (or dependency)')
df_pop_glb.head()

,Country (or dependency),Population (2020),Density (P/Km²),Med. Age,Urban Pop %
34,Afghanistan,38728504,60,18,25 %
128,Albania,2878471,105,36,63 %
30,Algeria,43672620,18,29,73 %
166,Andorra,77238,164,N.A.,88 %
41,Angola,32627944,26,17,67 %

## Create clean feature columns from the infection data

In [141]:
def date_slice(df: pd.DataFrame) -> pd.DataFrame:
    '''creates a slice of only the date columns'''
    df = df.iloc[:, 1:]
    df.reset_index(drop=True)
    return df

In [142]:
df_confirm_glb_date = date_slice(df_confirm_glb)
df_confirm_glb_date.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,0,0,0,0,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,0,0,0,0,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,0,0,0,0,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,0,0,0,0,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,0,0,0,0,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [143]:
df_death_glb_date = date_slice(df_death_glb)
df_death_glb_date.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,0,0,0,0,0,0,0,0,0,0,...,7,7,11,14,14,15,15,18,18,21
1,0,0,0,0,0,0,0,0,0,0,...,20,20,21,22,22,23,23,23,23,23
2,0,0,0,0,0,0,0,0,0,0,...,130,152,173,193,205,235,256,275,293,313
3,0,0,0,0,0,0,0,0,0,0,...,17,18,21,22,23,25,26,26,29,29
4,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [144]:
df_recover_glb_date = date_slice(df_recover_glb)
df_recover_glb_date.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,0,0,0,0,0,0,0,0,0,0,...,10,15,18,18,29,32,32,32,32,32
1,0,0,0,0,0,0,0,0,0,0,...,99,104,116,131,154,165,182,197,217,232
2,0,0,0,0,0,0,0,0,0,0,...,90,90,90,113,237,347,405,460,591,601
3,0,0,0,0,0,0,0,0,0,0,...,21,26,31,39,52,58,71,71,128,128
4,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,4,4,4

In [145]:
print(df_confirm_glb_date.shape, df_death_glb_date.shape, df_recover_glb_date.shape)

(172, 83) (172, 83) (172, 83)

In [146]:
def row_transfer(df: pd.DataFrame, length: pd.DataFrame, name: str) -> pd.DataFrame:
    '''tranfers values in rows from dataframe into a single column of floats'''
    list_ = []
    
    for i in range(len(length)):
        v = df.iloc[i]  
        list_.append(v)

    list_col = pd.concat((list_), axis=0)
    
    df_col = pd.DataFrame(list_col).reset_index(drop=True)
    df_col.columns=[f'{name}']
    df_col = df_col.astype({f'{name}' : 'float64'})

    return df_col

In [147]:
df_confirm_glb_col = row_transfer(df_confirm_glb_date, df_confirm_glb_date, 'Global_Confirmed')
df_confirm_glb_col.head()

   Global_Confirmed
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0

In [148]:
df_death_glb_col = row_transfer(df_death_glb_date, df_death_glb_date, 'Global_Deaths')
df_death_glb_col.head()

   Global_Deaths
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

In [149]:
df_recover_glb_col = row_transfer(df_recover_glb_date, df_recover_glb_date, 'Global_Recovered')
df_recover_glb_col.head()

   Global_Recovered
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0

In [150]:
print(df_confirm_glb_col.shape, df_death_glb_col.shape, df_recover_glb_col.shape)

(14276, 1) (14276, 1) (14276, 1)

In [151]:
def value_stack(df: pd.DataFrame, length: pd.DataFrame, name: str) -> pd.DataFrame:
    '''creates a stack of repeated values from each index, length is based on number of recorded dates'''
    
    list_ = []
    num_count = len(length)

    for i in df:
        v=0
        while v < num_count:
            list_.append(i)
            v+=1

    df_col = pd.DataFrame(list_)

    df_col.columns=([f'{name}'])
        
    return df_col

In [152]:
df_country = value_stack(df_confirm_glb['Country/Region'], df_confirm_glb_date.columns, 'Country_Region')
print(df_country.shape)
df_country.head()

(14276, 1)

  Country_Region
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan

In [153]:
def dat_column(df: pd.DataFrame, length: pd.DataFrame, name: str) -> pd.DataFrame:
    '''converts dates into a single column of datetimes'''
    
    list_ = []
    num_date = len(length)
    u=0

    while u < num_date:
        for i in df:
            list_.append(i)
        u+=1

    df_col = pd.DataFrame(list_)

    df_col.columns=([f'{name}'])
    df_col[f'{name}'] = pd.to_datetime(df_col[f'{name}']) 
        
    return df_col

In [154]:
df_dates = dat_column(df_confirm_glb_date.columns, df_confirm_glb['Country/Region'], 'Dates')
print(df_dates.shape)
df_dates.head()

(14276, 1)

       Dates
0 2020-01-22
1 2020-01-23
2 2020-01-24
3 2020-01-25
4 2020-01-26

## Create clean feature columns from the population data

In [155]:
df_pop_glb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 34 to 68
Data columns (total 5 columns):
Country (or dependency)    172 non-null object
Population (2020)          172 non-null int64
Density (P/Km²)            172 non-null int64
Med. Age                   172 non-null object
Urban Pop %                172 non-null object
dtypes: int64(2), object(3)
memory usage: 8.1+ KB

In [156]:
# find any missing values
na = df_pop_glb.isna()
na.sum()

Country (or dependency)    0
Population (2020)          0
Density (P/Km²)            0
Med. Age                   0
Urban Pop %                0
dtype: int64

In [157]:
# rename the columns of the dataframe 
df_pop_glb = df_pop_glb.rename(columns={'Country (or dependency)':'Country_Region' , 'Population (2020)':'Population', 'Med. Age':'Median Age',
                                       'Density (P/Km²)':'Density (P/Km^2)', 'Urban Pop %':'Urban % of Pop.'})
df_pop_glb.head()

    Country_Region  Population  Density (P/Km^2) Median Age Urban % of Pop.
34     Afghanistan    38728504                60         18            25 %
128        Albania     2878471               105         36            63 %
30         Algeria    43672620                18         29            73 %
166        Andorra       77238               164       N.A.            88 %
41          Angola    32627944                26         17            67 %

In [158]:
# replace 'N.A.' entries with the numpy missing marker
df_pop_glb.replace('N.A.', np.nan, inplace=True)
df_pop_glb.head()

    Country_Region  Population  Density (P/Km^2) Median Age Urban % of Pop.
34     Afghanistan    38728504                60         18            25 %
128        Albania     2878471               105         36            63 %
30         Algeria    43672620                18         29            73 %
166        Andorra       77238               164        NaN            88 %
41          Angola    32627944                26         17            67 %

In [159]:
# numpy markers show missing values
na = df_pop_glb.isna()
na.sum()

Country_Region      0
Population          0
Density (P/Km^2)    0
Median Age          6
Urban % of Pop.     5
dtype: int64

In [160]:
# strip the % symbol from the values in Urban % Pop. 
df_pop_glb['Urban % of Pop.'] = df_pop_glb['Urban % of Pop.'].str.strip('%')
df_pop_glb.head()

    Country_Region  Population  Density (P/Km^2) Median Age Urban % of Pop.
34     Afghanistan    38728504                60         18             25
128        Albania     2878471               105         36             63
30         Algeria    43672620                18         29             73
166        Andorra       77238               164        NaN             88
41          Angola    32627944                26         17             67

In [161]:
# convert the integers in the dataframe to floats 
df_pop_glb = df_pop_glb.astype({'Population':'float64', 'Density (P/Km^2)':'float64', 'Median Age':'float64', 'Urban % of Pop.':'float64'})
df_pop_glb.head()

    Country_Region  Population  Density (P/Km^2)  Median Age  Urban % of Pop.
34     Afghanistan  38728504.0              60.0        18.0             25.0
128        Albania   2878471.0             105.0        36.0             63.0
30         Algeria  43672620.0              18.0        29.0             73.0
166        Andorra     77238.0             164.0         NaN             88.0
41          Angola  32627944.0              26.0        17.0             67.0

In [162]:
# calculate the mean of the float values
df_pop_glb.mean(skipna=True, axis=0)

Population          4.360797e+07
Density (P/Km^2)    3.739128e+02
Median Age          3.061446e+01
Urban % of Pop.     6.019760e+01
dtype: float64

In [163]:
# calulate the mean of the median age and print
avg_medage = df_pop_glb['Median Age'].astype('float').mean(axis=0)
avg_medage = round(avg_medage, 2)
print("Average Median Age", avg_medage)

Average Median Age 30.61

In [164]:
# calculate the mean of the Urban % of Pop and print
avg_urb = df_pop_glb['Urban % of Pop.'].astype('float').mean(axis=0)
avg_urb = round(avg_urb, 2)
print("Average Urban % of Population", avg_urb)

Average Urban % of Population 60.2

In [165]:
# replace the missing values in each category with the means

df_pop_glb['Median Age'] = df_pop_glb['Median Age'].replace(np.nan, avg_medage)
df_pop_glb['Urban % of Pop.'] = df_pop_glb['Urban % of Pop.'].replace(np.nan, avg_urb)

df_pop_glb.head()

    Country_Region  Population  Density (P/Km^2)  Median Age  Urban % of Pop.
34     Afghanistan  38728504.0              60.0       18.00             25.0
128        Albania   2878471.0             105.0       36.00             63.0
30         Algeria  43672620.0              18.0       29.00             73.0
166        Andorra     77238.0             164.0       30.61             88.0
41          Angola  32627944.0              26.0       17.00             67.0

In [166]:
# calculates the decimal value of the urban population percentage
df_pop_glb['Urban % of Pop.'] = df_pop_glb['Urban % of Pop.'].div(100)

In [167]:
df_pop_col = value_stack(df_pop_glb['Population'], df_confirm_glb_date.columns, 'Population_2020')
df_pop_col.shape
df_pop_col.head()

   Population_2020
0       38728504.0
1       38728504.0
2       38728504.0
3       38728504.0
4       38728504.0

In [168]:
df_dens_col = value_stack(df_pop_glb['Density (P/Km^2)'], df_confirm_glb_date.columns, 'Density_(P/Km^2)')
df_dens_col.head()

   Density_(P/Km^2)
0              60.0
1              60.0
2              60.0
3              60.0
4              60.0

In [169]:
df_medage_col = value_stack(df_pop_glb['Median Age'], df_confirm_glb_date.columns, 'Median_Age')
df_medage_col.head()

   Median_Age
0        18.0
1        18.0
2        18.0
3        18.0
4        18.0

In [170]:
df_urban_col = value_stack(df_pop_glb['Urban % of Pop.'], df_confirm_glb_date.columns, 'Urban_Pct')
df_urban_col.head()

   Urban_Pct
0       0.25
1       0.25
2       0.25
3       0.25
4       0.25

In [171]:
print(df_country.shape, df_dates.shape, df_pop_col.shape, df_dens_col.shape, df_medage_col.shape, df_urban_col.shape)

(14276, 1) (14276, 1) (14276, 1) (14276, 1) (14276, 1) (14276, 1)

## Merge all of the feature columns into a single dataframe

In [172]:
df_covid_glb_merge = pd.concat(([df_country, df_dates, df_pop_col, df_dens_col, df_medage_col, df_urban_col, 
                                 df_confirm_glb_col, df_recover_glb_col, df_death_glb_col]), axis=1)
df_covid_glb_merge.head()

,Country_Region,Dates,Population_2020,Density_(P/Km^2),Median_Age,Urban_Pct,Global_Confirmed,Global_Recovered,Global_Deaths
0,Afghanistan,2020-01-22,38728504.0,60.0,18.0,0.25,0.0,0.0,0.0
1,Afghanistan,2020-01-23,38728504.0,60.0,18.0,0.25,0.0,0.0,0.0
2,Afghanistan,2020-01-24,38728504.0,60.0,18.0,0.25,0.0,0.0,0.0
3,Afghanistan,2020-01-25,38728504.0,60.0,18.0,0.25,0.0,0.0,0.0
4,Afghanistan,2020-01-26,38728504.0,60.0,18.0,0.25,0.0,0.0,0.0

In [173]:
df_covid_glb_merge.shape

(14276, 9)

In [174]:
df_covid_glb_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14276 entries, 0 to 14275
Data columns (total 9 columns):
Country_Region      14276 non-null object
Dates               14276 non-null datetime64[ns]
Population_2020     14276 non-null float64
Density_(P/Km^2)    14276 non-null float64
Median_Age          14276 non-null float64
Urban_Pct           14276 non-null float64
Global_Confirmed    14276 non-null float64
Global_Recovered    14276 non-null float64
Global_Deaths       14276 non-null float64
dtypes: datetime64[ns](1), float64(7), object(1)
memory usage: 1003.9+ KB

In [175]:
# check for missing values
empty_cov = df_covid_glb_merge.isna()
empty_cov.sum()

Country_Region      0
Dates               0
Population_2020     0
Density_(P/Km^2)    0
Median_Age          0
Urban_Pct           0
Global_Confirmed    0
Global_Recovered    0
Global_Deaths       0
dtype: int64

## Load the finished dataframe into cloud object storage

In [ ]:
# The code was removed by Watson Studio for sharing.